<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Жанр игр MMO</title>
</head>

<body>
    <h2>Жанр игр MMO</h2>
    <h3>Массовая многопользовательская онлайн-игра (англ. Massively Multiplayer Online Game, MMO, MMOG) — компьютерная онлайн-игра, в которой большое количество игроков взаимодействует друг с другом в «постоянном» игровом мире, расположенном на удалённом
        сервере.
    </h3>
    <img width="400" height="300" src="https://avatars.mds.yandex.net/get-zen_doc/229614/pub_5eca59d18ab85d61ea0a01b1_5eca9a5bf00711243d9f9078/scale_1200" alt="">
    <form action="http://127.0.0.1:8000/" method="get" target="_self">
        <button type="submit">Идём обратно</button>
    </form>

</body>

</html>