<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Жанр игр RPG</title>
</head>

<body>

    <h2>Жанры игр RPG</h2>
    <h3>RPG (Role-Playing Game) - это жанр игры, в котором механика заточена на прокачке персонажа, его характеристик, обмундирования и т.д. Конечная цель игры достигается засчет качеств персонажа.</h3>
    <img width="400" height="300" src="https://3.bp.blogspot.com/-6KSL2TX1wes/WD6JilfwxbI/AAAAAAAAAtM/d7xGlyy2_1MqfFfKd4J0Ceu_q9Jc97QnwCLcB/s1600/SC8.jpg" alt="">
    <form action="http://127.0.0.1:8000/" method="get" target="_self">
        <button type="submit">Идём обратно</button>
    </form>
</body>

</html>